<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css"/>
    <title>Contact</title>
</head>
<body>
    <%- include('partials/nav'); %>
    <h1>Thanks for geeting in touch</h1>
    <p>You contacted <%= data.who %> from the <%= data.department %> department</p>
    <p>For any further assistance email on <%= data.email %></p>
</body>
</html>