<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css"/>
    <title>Home</title>
</head>
<body>
    <%- include('partials/nav'); %>
    <h1>Welcome to code ninjas</h1>
    <p>One of the best websites on Youtube.</p>
</body>
</html>